flow.json
[{"id":"7fded192.cd77c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c7dc1206.a42da","type":"ui_form","z":"7fded192.cd77c","name":"","label":"LifeExpectancy Predictor","group":"cadccf9f.62998","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Enter 1 for Developed & 0 for Developing","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"Infant Death","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"Under 5 Deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"text","required":false,"rows":null},{"label":"Total Expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diptheria","value":"m","type":"number","required":true,"rows":null},{"label":"Hiv/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":"Thinness (1-19)","value":"q","type":"number","required":true,"rows":null},{"label":"Thinness (5-9)","value":"r","type":"number","required":true,"rows":null},{"label":"Income Composition ","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling ","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":60,"wires":[["c8651705.6cde48"]]},{"id":"c8651705.6cde48","type":"function","z":"7fded192.cd77c","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n\n//following are required to receive a token\nvar apikey=\"7yNogqJaZU69v3KWNswJrRwNcVLjQyhteimSOn3sYZWM\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["9deb94d7.bdf808"]]},{"id":"4a33e17.2fd6b2","type":"http request","z":"7fded192.cd77c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/db8e23cf-072b-48c3-9bd5-96f63e840751/deployments/e4766e97-00cc-4ced-9487-39f448631f69/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["f50a3056.5f84c","ce4e31b5.380ac"]]},{"id":"106e29ba.405f66","type":"debug","z":"7fded192.cd77c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"ce4e31b5.380ac","type":"function","z":"7fded192.cd77c","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["106e29ba.405f66","ac3eb065.864cb"]]},{"id":"f50a3056.5f84c","type":"debug","z":"7fded192.cd77c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"34c2e71.0d17e18","type":"function","z":"7fded192.cd77c","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"db8e23cf-072b-48c3-9bd5-96f63e840751\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['year', 'status','adultmortality', 'infantdeaths', 'alcohol',\n       'percentageexpenditure', 'hepatitisb', 'measles', 'bmi',\n       'underfivedeaths', 'polio', 'totalexpenditure', 'dip', 'hiv/aids',\n       'gdp', 'population', 'thinness119', 'thinness59', 'incomecomp',\n       'schooling'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["4a33e17.2fd6b2"]]},{"id":"9deb94d7.bdf808","type":"http request","z":"7fded192.cd77c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["34c2e71.0d17e18"]]},{"id":"ac3eb065.864cb","type":"ui_text","z":"7fded192.cd77c","group":"cadccf9f.62998","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"cadccf9f.62998","type":"ui_group","z":"","name":"Life Expectancy Predictor","tab":"4dbac7d6.c8a748","order":1,"disp":true,"width":"10","collapse":false},{"id":"4dbac7d6.c8a748","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
